version: "3.8"

services:
    frontend:
        build: ./web
        container_name: package_system_frontend
        ports:
            - "13000:80"
        depends_on:
            - web
        restart: always

    web:
        build: .
        platform: linux/amd64
        container_name: package_system_web
        ports:
            - "8000:8000"
        env_file:
            - .env
        environment:
            - TZ=Asia/Shanghai
        volumes:
            - ./uploads:/app/uploads
            - ./temp_downloads:/app/temp_downloads
            - ./temp_work:/app/temp_work
            - ./temp_execution:/app/temp_execution
            - ./temp_keystores:/app/temp_keystores
        command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
        restart: always

    worker:
        build: .
        platform: linux/amd64
        container_name: package_system_worker
        env_file:
            - .env
        environment:
            - TZ=Asia/Shanghai
        volumes:
            - ./uploads:/app/uploads
            - ./temp_downloads:/app/temp_downloads
            - ./temp_work:/app/temp_work
            - ./temp_execution:/app/temp_execution
            - ./temp_keystores:/app/temp_keystores
        command: celery -A app.core.celery worker --loglevel=info -c 2
        restart: always

    beat:
        build: .
        platform: linux/amd64
        container_name: package_system_beat
        env_file:
            - .env
        environment:
            - TZ=Asia/Shanghai
        volumes:
            - ./uploads:/app/uploads
            - ./temp_downloads:/app/temp_downloads
            - ./temp_work:/app/temp_work
            - ./temp_execution:/app/temp_execution
            - ./temp_keystores:/app/temp_keystores
        command: celery -A app.core.celery beat --loglevel=info
        restart: always
